<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

Southern
{{range .Southern}}
{{.Name}}-{{.Adress}}-{{.City}}-{{.Zip}}
{{end}}
Central
{{range .Central}}
{{.Name}}-{{.Adress}}-{{.City}}-{{.Zip}}
{{end}}
Northern
{{range .Northern}}
{{.Name}}-{{.Adress}}-{{.City}}-{{.Zip}}
{{end}}

</body>
</html>